################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.tlog
*.recipe
*.ilk
*.log
*.obj
*.idb
*.pdb
*.vcxproj
*.filters
*.user
*.sln
*.exe
*.ipch
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
